@import url("https://fonts.googleapis.com/css2?family=Nixie+One&family=Pacifico&display=swap");

header {
  background-color: rgba(225, 105, 149, 0.3);
  justify-content: center;
  display: flex;
  height: 500px;
  width: 100%;
  text-align: center;
  align-items: center;
}

.headermain {
  margin-top: 100px;
  display: block;
}

.navbar {
  display: flex;
  justify-content: right;
  line-height: 0;
  border: 3px solid rgb(0, 0, 0, 0);
  background-color: rgb(0, 0, 0, 0.7);
}

@keyframes turnOne {
  0% {transform: rotate(0deg);}
  10% {transform: rotate(-10deg);}
  30% {transform: rotate(370deg);}
  40% {transform: rotate(360deg);}
  100% {transform: rotate(360deg);}
}

.bitcoin {
  width: 25%;
  animation-name: turnOne;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.72,-0.02,.33,.95);
}

@keyframes bgcolormorph {
  0% {opacity:1; background-position: 0%;}
  50% {opacity:1; background-position: 100%;}
  100% {opacity:1; background-position: 0%;}
}

.headermain p {
  line-height: 2.5;
  text-shadow: 0px 0px 5px rgba(226, 4, 107, 0.3);
  opacity: 0;
  animation-name: bgcolormorph;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  background: -webkit-linear-gradient(right, #fd7dd6, #eb9f49, #a05225, #eb9f49, #fd7dd6);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 0%;
  font-family: "Pacifico";
  font-size: 72px;
}

.navkeys {
  font-family: 'Nixie One';
  list-style: none;
  margin-right: 100px;
  display: flex;
  justify-content: space-around;
  width: 10%;
}

.navfonts {
  font-size: 16px;
  padding: 10px 13px;
  color: rgb(246, 201, 217);
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.navfonts:hover{
  font-size: 19px;
  padding: 9px 13px;
  text-decoration: none;
  background-color: rgb(159, 114, 58);
  color: rgb(69, 69, 69);
}